.timeline-wrapper {
  position: relative;
  overflow-x: auto;
}

/* Barra horizontal */
.timeline-line {
  position: absolute;
  top: 2rem;
  left: 0;
  height: 4px;
  background: #36c9;
  border-radius: 2rem;
  pointer-events: none;
}

/* Timeline */
ol.timeline {
  --tile-color: #fff;
  --dot-color: #fff;
  --year-color: #000;

  margin: 0;
  padding: 4rem 1rem 2rem 1rem;
  list-style: none;

  display: flex;
  gap: 3rem;
  width: max-content;
}

/* Cards */
ol.timeline li {
  min-width: 300px;
  background: var(--tile-color);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

/* Conector vertical */
ol.timeline li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 2rem;
  background: #36c9;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
}

/* Dot */
ol.timeline li::after {
  content: attr(data-dot);
  position: absolute;
  top: -2.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background: var(--dot-color);
  border-radius: 50%;
  border: 2px solid #36c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  color: var(--year-color);
}
